<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1576639046,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2019\/best-local-albums",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2019-12-18 06:00:00",
	"modifieddate":"",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times music staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"entertainment",
	"section_tier2":"music",
	"sections_all":"entertainment|music",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>