@import "seattletimes";

body{
    font-family: @df-sans;
}

.headerImageContainer{
    text-align: center;
    background-color: #ffc76e;
    .headerImage{
        display: inline;
    }
}

.chatter{
    padding: 20px 0;
    max-width: 630px;
    margin: auto;
}

.stickyNav {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #36454f;
    background-color: white;
    a{
        text-decoration: none;
        margin: auto;
        width: 5%;
        @media (max-width: 767px) {
            width: 10%;
        }
    }
    button{
        font-family: @df-sans;
        text-align: center;
        background-color: white;
        outline: none;
        border: none;
        font-size: 16px;
        margin: 0;
        width: 100%;
        height: 32px;
        color: #70757c; 
        font-weight: normal;
    }
  }
  
  .fixedNav {
    position: fixed;
    top:0;
    z-index: 1;
  }

  .active{
      background-color: #f19b60 !important;
      color: #36454f !important;
      font-weight: bold !important;
  }

  .content{
      margin-top: 20px;
  }

  .num{
    color: #ef915c; 
    font-family: 'Domine', serif;
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    margin-left: 20px;
    @media (max-width: 801px) {
        margin-left: 0px;
    }
  }

@media (max-width: 801px){
    .albumSection{
        display: flex;
        flex-flow: column;
    }
    .numContainer{
        order: 1;
        line-height: .75;
        padding-bottom: 10px;
        width: 100%;
    }
    .albumTitleContainer{
        width: 100%;
        margin-left: 0 !important;
        order: 2;
    }
    .albumCoverContainer{
        width: 100%;
        order: 3;
    }
}

  .albumSection{
    width: 100%;
    padding: 0 0 40px 0;
    .sectionHead{
        font-family: 'Domine', serif;
        display: flex;
        width: 800px;
        margin: auto;
        border-top: 10px solid #56b3bf;
        border-right: 10px solid #56b3bf;
        padding-top: 20px;
        @media (max-width: 801px) {
            flex-wrap: wrap;
            min-width: 0px;
            width: 98%;
        }
        .albumCover{
            width: 290px;
            min-width: 290px;
        }
        .artCredit{
            margin: 0 0 5px 0;;
            color: #70757c;
            font-style: italic;
            font-size: 13px;  
            font-family: @df-sans;
            line-height: .3;
      
        }
        .albumTitleContainer{
            margin-left: 10px;
            p{
                margin: 0;
            }
            .title{
                font-size: 38px;
                font-weight: bold;
            }
            .artist{
                font-size: 30px;
                font-style: italic;
            }
        }
    }
    .sectionBody{
        max-width: 630px;
        margin: auto;
        .sectionText{
            display: inline;
        }
    }
  }

.breakDiv{
    text-align: center;
    margin: 20px 0 0 0;
    background-color: #da6556;
    .breakImage{
        width: 300px;
        padding: 20px;
    }
}

.playlist{
    text-align: center;
    padding: 20px 0;
    background-color: #f19b60;
    .playlistText{
        font-family: 'Domine', serif;
        font-size: 28px;
        font-weight: bold;
        max-width: 630px;
        margin: 0 auto 20px auto;
        text-align: left;
        border-bottom: 10px solid #56b3bf;
    }
    .frame{
        display: inline;
    }
}

.credits {
    margin: 30px 0;
    font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
  }