@import "seattletimes";
@import "comments";

body{
    font-family: @df-sans;
}

responsive-child{
    // @media mobile{
    //     margin: 0 5px !important;
    // }
}

.art-credit{
    padding-right: 10px;
    margin-top: 3px;
    // @media mobile{
    //     margin-left: 5px ;
    // }
}

.textLink:link{
    color: #da6556
}

.textLink:visited{
    color: #da6556;
}

.textLink:hover{
    color: #427693;
}

.headerImageContainer{
    text-align: center;
    background-color: #ffc76e;
    .headerImage{
        display: inline;
    }
    .mobileHeaderImage{
        display: none;
    }
    @media (max-width: 800px) {
        .mobileHeaderImage{
            display:inline;
        }
        .headerImage{
            display: none;
        }
    }
}

.chatter{
    padding-top: 10px;
    max-width: 630px;
    margin: auto;
    // @media (max-width: 800px) {
    // margin: 0 5px;
    // }
}

.chatter2{
    padding: 20px 0 40px 0;
}

.staff-position{
    color: #7e838b !important;
}



.linkPlaylist{
    margin: auto;
    max-width: 430px;
    @media (max-width: 500px) {
        width: 90%;
        }
    text-align: center;
    border-top: 1px solid #da6556;
    border-bottom: 1px solid #da6556;
    padding: 10px 0;
    font-style: italic;
}

.by{
    max-width: 630px;
    margin: auto;
    // @media mobile{
    //     margin-left: 5px !important;
    // }

}

.stickyNav {
    // position: sticky; 
    // top: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #36454f;
    background-color: white;
    cursor: pointer;
    a{
        text-decoration: none;
        margin: auto;
        width: 5%;
        @media (max-width: 767px) {
            width: 10%;
        }
    }
    @media (min-width: 800px){
        button:hover{
            cursor:pointer;
            background-color: #f19b60 !important;
        }
    }

    button{
        font-family: @df-sans;
        text-align: center;
        background-color: white;
        outline: none;
        border: none;
        font-size: 16px;
        margin: 0;
        width: 100%;
        height: 32px;
        color: #70757c; 
        font-weight: normal;
    }
  }
  
  .fixedNav {
    position: fixed;
    top:0;
    z-index: 1;
  }

  .active-section{
      background-color: #f19b60 !important;
      color: #36454f !important;
      font-weight: bold !important;
  }

  .content{
      margin-top: 20px;
  }

  .num{
    color: #ef915c; 
    font-family: 'Domine', serif;
    margin: 0;
    font-size: 3.5em;
    font-weight: bold;
    margin-left: 20px;
    margin-top: -12px;
    @media (max-width: 801px) {
        margin-left: 0px;
    }
  }

@media (max-width: 801px){
    .albumSection{
        display: flex;
        flex-flow: column;
        padding-bottom: 0 !important;;
    }
    .numContainer{
        order: 1;
        line-height: .75;
        padding-bottom: 10px;
        width: 100%;
    }
    .albumTitleContainer{
        width: 100%;
        margin-left: 0 !important;
        order: 2;
        .sectionTextScreen{
            display: none;
        }
    }
    .albumCoverContainer{
        width: 100%;
        order: 3;
    }
    .sectionBody{
        display: inline !important;
        margin: 0 5px !important;
    }
    .marketing{
        margin: 10px 0 !important;
    }
}

  .albumSection{
    width: 100%;
    padding: 0 0 40px 0;
    .sectionHead{
        font-family: 'Domine', serif;
        display: flex;
        width: 800px;
        margin: auto;
        padding-top: 20px;
        border-top: 6px solid #56b3bf;
        border-right: 6px solid #56b3bf;
        margin-top: 40px;
        @media (max-width: 801px) {
            flex-wrap: wrap;
            min-width: 0px;
            width: 98%;
        }
        .albumCover{
 
            width: 300px;
            min-width: 295px;

        }
        .albumEmbed{
            width: 300px;
            min-width: 295px;

        }
        .artCredit{
            margin: 0 0 5px 0;;
            color: #70757c;
            font-style: italic;
            font-size: 13px;  
            font-family: @df-sans;
            line-height: .3;
      
        }
        .albumTitleContainer{
            margin-left: 10px;
            p{
                margin: 0;
            }
            .title{
                font-size: 1.5em;
                font-weight: bold;
            }
            .artist{
                font-size: 1em;
                font-style: italic;
                padding-bottom: 5px;
            }
        }
    }
    .sectionText{
        max-width: 630px;
    }
    .sectionTextScreen{
        padding-top: 40px;
        padding-right: 45px;
    }
    .sectionBody{
        display:none;
        margin: auto;
    }
    .decorativeBox{
        color:#f19b60;
        font-size: 1.5em;
        line-height: .75em;
    }
  }

.breakDiv{
    text-align: center;
    margin: 60px 0 0 0;

    .breakImage{
        width: 300px;
        padding: 20px;
    }

}
.first{
    background-color: #427693;
}
.second{
    background-color: #da6556;
}
.third{
    background-color: #FDD07C;
    .breakImage{
        width: 260px;
    }
}
@media (max-width: 910px) {
    .extra{
        display: none;
    }
}

.playlist{
    text-align: center;
    padding: 20px 0;
    background-color: #d4d7da;
    .playlistText{
        font-family: 'Domine', serif;
        font-size: 1em;
        font-weight: bold;
        max-width: 630px;
        margin: 20px auto 20px auto;
        text-align: left;
        border-bottom: 8px solid #f19b60;
    }
    .frame{
        display: inline;
    }
}

.credits {
    margin: 40px auto;
    font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    max-width: 630px;
    
        font-style: normal;
        font-size: 0.8em;
    

  }

  .marketing{
      margin: 60px auto;
  }

  .marketing--sidebar{
      max-width: 630px;
  }